body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-black{
  background-color: #212121;
}

.content-center{
  text-align: center
}
.text-field-margin {
  margin: 1em;
}
.navbar-light .navbar-nav .nav-link{
  color: #adb5bd !important;
}
.link-usermanagement:active{
  color: rgb(255, 255, 255) !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(255, 255, 255) !important;}

  .login-form{
    padding: 3rem 10rem;
  }
  .login-button{
    width:100%;
  }
  .text-error {
    color: #bd2130!important;
    font-weight: 600;
}
@media (min-width: 992px){
  .login-container{
    max-width: 540px !important;
  }
}
.td-center{
  text-align: center;
}
.pagination-align{
  float: right;
}
